<h2>Buttons - Webcomponent</h2>
<button-component label="Menu Button" fdmenu="true"></button-component>
<button-component label="positive" fdtype="positive"></button-component>
<button-component label="negative" fdtype="negative"></button-component>
<button-component label="attention" fdtype="attention"></button-component>
<button-component label="transparent" fdtype="transparent"></button-component>
<button-component label="Emphasized" fdtype="emphasized"></button-component>

<h2>Buttons - NGX</h2>
<button fd-button label="Menu Button" fdMenu="true"></button>
<button fd-button label="positive" fdType="positive"></button>
<button fd-button label="negative" fdType="negative"></button>
<button fd-button label="attention" fdType="attention"></button>
<button fd-button label="transparent" fdType="transparent"></button>
<button fd-button label="Emphasized" fdType="emphasized"></button>
